@model IEnumerable<class_6.Models.Student>
<h1>Students</h1>
@foreach (var student in Model)
{
    <ul>
        <li>@student.Id</li>
        <li>@student.Name</li>
        <li>@student.age</li>
    </ul>
}


    @{
        ViewBag.Title = "Index";
    }

    @*<h2>Index</h2>

    @if (Model != null)
    {
        <ul>
            <li>Id: @Model.Id</li>
            <li>Name: @Model.Name</li>
            <li>Age: @Model.age</li>

        </ul>
    }
    else
    {
        <p>No Data Found</p>
    }*@
